.errorInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.errorTitle{
    font-weight: 700;
    font-size: 286px;
    color: #FF6060;
    margin: 0
}

.errorContent{
    color: #FF6060;
    font-size: 36px;
    font-weight: 500;
}

.errorReturn{
    text-decoration-line: underline;
    font-size: 18px;
    font-weight: 500;
    padding-top: 182px;
    padding-bottom: 156px;
}