.galleryCard {
    border-radius: 10px;
    cursor: pointer;
    height: 340px;
    overflow: hidden;
    position: relative;
    width: 30%;
    transition: transform 0.3s ease-in-out;
}

.galleryCard:hover{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.galleryCard img{
    object-fit: cover;
    object-position: center;
    height: 100%;
    filter: brightness(80%);
}

.galleryCard h3{
    bottom: 0px;
    color: #fff;
    font-size: clamp(12px,3vw,18px);
    font-weight: 500;
    left: 10px;
    position: absolute;
    right: 90px;
    z-index: 20;
    opacity: 1;
}


