header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 40px;
}

ul{
    list-style-type: none;
    
}

ul li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: #FF6060;
    font-size: 24px;
    margin-left: 57px;
}

a:hover{
    text-decoration: underline;
}