.banner {
  position: relative;
  display: flex;
  border-radius: 25px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/IMGHOME.png');
  background-position: center;
  background-size: cover;
  height: 171px;
  padding: 20px;
  width: 85%;
  margin: 43px auto;
}

.bannerApropos {
  position: relative;
  display: flex;
  border-radius: 25px;
  height: 223px;
  width: 87%;
  margin: 43px auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/AproposBanner.png');
  background-position: center;
  background-size: cover;
}

.banner p {
  color: #FFFFFF;
  font-size: clamp(24px,4vw,48px);
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 19%;
  left: 23%;
}

.banner br {
  display: none;
}

@media screen and (max-width: 650px) {
  .banner {
    height: 111px;
    width: 81%;
    margin-top: 0;
    margin-bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/IMGresponsive.png');
  }
  .banner p {
    position: unset;
  }
  .banner br {
    display: initial;
  }
  .bannerApropos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/gustavo-alves-YOXSC4zRcxw-unsplash\ 1-resp.png');
    width: 94%;
    margin-top: 0;
  }
}

